.idea
/backend/.idea
/backend/target
/preprocessing/.idea
/preprocessing/img
/preprocessing/storage
/preprocessing/preview
frontend/node_modules
frontend/public/storage
frontend/public/preview
/backend/src/main/resources/.env